In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
%matplotlib inline

In [235]:
NC15 = pd.read_excel('data/NC Dinos 2015.xlsx')

In [236]:
NC15[:5]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
3,이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
4,김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03

In [5]:
type(NC15['선수명'])

pandas.core.series.Series

In [8]:
nums = [4,7, -5, 3]

In [9]:
nums[0]

4

In [10]:
nums_dict = {'이성주': 4, '김성주': 7, '박성주': -5, '장성주': 3}

In [11]:
nums_dict['이성주']

4

Series = list + dict + alpha

In [12]:
obj = Series([4,7,-5,3])

In [13]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [14]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [15]:
obj.index

RangeIndex(start=0, stop=4, step=1)

라벨 색인

In [16]:
obj2 = Series([4,7, -5, 3], index=['d', 'b', 'a', 'c'])

In [17]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [19]:
obj2['a']

-5

In [21]:
obj2[2]

-5

"플러스 알파"

여러 색인을 원하는 순서로 선택할 수 있음

In [22]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    4
dtype: int64

### 조건에 따라 값 선택

In [24]:
obj2 > 0

d     True
b     True
a    False
c     True
dtype: bool

In [25]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

원소별 연산

Phython 기본 자료형에서 * 는 반복

Series 에 * 를 해야 곱해 짐

In [26]:
[1,2,3] * 2

[1, 2, 3, 1, 2, 3]

In [28]:
'참 잘했어요!' * 3

'참 잘했어요!참 잘했어요!참 잘했어요!'

In [32]:
두배 = [n*2 for n in [1,2,3]]
두배

[2, 4, 6]

In [33]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [34]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [36]:
'b' in obj2

True

In [37]:
'e' in obj2

False

## KLPGA 

KLPGA 선수들의 기록을 시리즈로 생성

1. 박성현, 배선우, 고진영 순으로 선택
1. 500 포인트 이상인 선수들을 선택

In [55]:
scores = Series([562, 561, 506, 467, 465], index=['고진영', '박성현', '이승현', '배선우', '이민영2'])
scores

고진영     562
박성현     561
이승현     506
배선우     467
이민영2    465
dtype: int64

In [56]:
scores[['박성현', '배선우', '고진영']]

박성현    561
배선우    467
고진영    562
dtype: int64

In [57]:
scores[scores >= 500]

고진영    562
박성현    561
이승현    506
dtype: int64

In [59]:
scores2 = Series({'고진영': 562, '박성현': 561})
scores2

고진영    562
박성현    561
dtype: int64

In [62]:
sdata = {'Ohio' : 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [73]:
인구1 = Series(sdata)
인구1

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

사전으로 입력하지만 색인을 지정하는 경우

In [70]:
인구2 = Series(sdata, index=['California', 'Ohio', 'Oregon', 'Texas'])
인구2

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [71]:
인구2.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [72]:
인구2.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [79]:
인구1 + 인구2

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

## 연습

야구선수들의 두 시즌 홈런 합계 구하기

In [122]:
NC14 = pd.read_excel('data/NC Dinos 2014.xlsx')
NC15 = pd.read_excel('data/NC Dinos 2015.xlsx')

홈런14 = Series(NC14.홈런.values, index=NC14.선수명.values)
홈런15 = Series(NC15.홈런.values, index=NC15.선수명.values)

In [124]:
홈런합계 = 홈런14.add(홈런15, fill_value=0)
홈런합계

강구성      0.0
강민국      0.0
권희동      7.0
김성욱      1.0
김종호      4.0
김준완      0.0
김태군      6.0
김태우      0.0
김태진      0.0
나성범     58.0
노진혁      1.0
마낙길      0.0
모창민     22.0
박명환*     0.0
박민우      4.0
박정준      0.0
손시헌     18.0
용덕한      0.0
이종욱     11.0
이창섭      0.0
이호준     47.0
조영훈     14.0
조평호      1.0
지석훈     17.0
최재원      2.0
테임즈     84.0
허준       0.0
dtype: float64

# DataFrame

In [125]:
data = {
    'state': ['Ohio'] * 3 + ['Nevada'] * 2,
    'year': [2000, 2001, 2002, 2001, 2002],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9]
}

In [137]:
인구 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
              index=['one', 'two', 'three', 'four', 'five'])

In [138]:
인구

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

In [139]:
인구['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

In [141]:
인구.state

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

In [143]:
인구[['state', 'year', 'pop']]

        state  year  pop
one      Ohio  2000  1.5
two      Ohio  2001  1.7
three    Ohio  2002  3.6
four   Nevada  2001  2.4
five   Nevada  2002  2.9

In [144]:
인구.ix['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [145]:
인구.debt = 16.5
인구.debt

one      16.5
two      16.5
three    16.5
four     16.5
five     16.5
Name: debt, dtype: float64

In [147]:
인구.debt = [1,2,3,4,5]
인구.debt

one      1
two      2
three    3
four     4
five     5
Name: debt, dtype: int64

In [148]:
채울값 = Series({'one': '요기', 'three': '저기'})

In [150]:
인구.debt = 채울값
인구.debt

one       요기
two      NaN
three     저기
four     NaN
five     NaN
Name: debt, dtype: object

In [157]:
인구['eastern'] = 인구.state == 'Ohio'
인구

       year   state  pop debt eastern
one    2000    Ohio  1.5   요기    True
two    2001    Ohio  1.7  NaN    True
three  2002    Ohio  3.6   저기    True
four   2001  Nevada  2.4  NaN   False
five   2002  Nevada  2.9  NaN   False

In [158]:
del 인구['eastern']
인구

       year   state  pop debt
one    2000    Ohio  1.5   요기
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6   저기
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

## 연습

골프 선수들의 이름, 평균타수, 평균퍼팅수를 열로 하는 데이터 프레임을 생성

1. 이름을 색인으로 설정 (set_index를 사용하지 않고)
1. 포인트 열을 추가하고, 값을 모두 0으로 설정

기록참조: http://klpga.co.kr/web/record/home.do?p_year=2016&p_kind=RE&type=H1

In [166]:
골프기록데이터 = {'평균타수': {'박성현': 69.64, '고진영': 70.41, '이승현': 70.94, '이민영2': 70.99, '김해림': 71.10}, 
          '평균퍼팅수': { '조정민': 29.36, '안신애': 29.56, '김혜윤': 29.59, '이승현': 29.71, '박성현': 29.81 }}

In [170]:
골프기록 = DataFrame(골프기록데이터)
골프기록

       평균타수  평균퍼팅수
고진영   70.41    NaN
김해림   71.10    NaN
김혜윤     NaN  29.59
박성현   69.64  29.81
안신애     NaN  29.56
이민영2  70.99    NaN
이승현   70.94  29.71
조정민     NaN  29.36

In [172]:
골프기록['포인트'] = 0
골프기록

       평균타수  평균퍼팅수  포인트
고진영   70.41    NaN    0
김해림   71.10    NaN    0
김혜윤     NaN  29.59    0
박성현   69.64  29.81    0
안신애     NaN  29.56    0
이민영2  70.99    NaN    0
이승현   70.94  29.71    0
조정민     NaN  29.36    0

In [173]:
골프기록.index

Index(['고진영', '김해림', '김혜윤', '박성현', '안신애', '이민영2', '이승현', '조정민'], dtype='object')

In [238]:
NC15 = NC15.set_index('선수명')

In [176]:
NC15

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09

In [179]:
NC15.drop(['테임즈', '나성범'])

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09

In [181]:
NC15.drop(['홈런', '안타'], axis=1)

,팀명,경기,타석,타수,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
나성범,NC,144,622,564,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
박민우,NC,141,617,520,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
이호준,NC,131,518,449,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
김종호,NC,133,486,424,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
조영훈,NC,103,146,124,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
손시헌,NC,140,508,440,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
이종욱,NC,125,504,440,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
모창민,NC,103,239,214,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
지석훈,NC,137,466,415,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
용덕한,NC,50,49,42,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
최재원,NC,114,102,85,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
박정준,NC,19,24,21,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
김태군,NC,144,474,421,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
조평호,NC,22,22,22,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
이창섭,NC,15,8,5,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
김준완,NC,30,54,44,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
강구성,NC,4,5,5,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
강민국,NC,1,2,2,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
김태진,NC,1,3,3,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09

### 색인 선택, 거르기

In [183]:
홈런15 = NC15.홈런

In [186]:
홈런15[:3]

선수명
테임즈    47
나성범    28
박민우     3
Name: 홈런, dtype: int64

In [187]:
홈런15[['나성범', '테임즈']]

선수명
나성범    28
테임즈    47
Name: 홈런, dtype: int64

In [188]:
홈런15[[1,2,3]]

선수명
나성범    28
박민우     3
이호준    24
Name: 홈런, dtype: int64

In [190]:
홈런15[0:10:2]

선수명
테임즈    47
박민우     3
김종호     4
손시헌    13
모창민     6
Name: 홈런, dtype: int64

In [191]:
홈런15['모창민': '최재원']

선수명
모창민     6
지석훈    11
용덕한     0
최재원     2
Name: 홈런, dtype: int64

#### 연습

NC15 에서, 홈런을 5개 이상 친 선수들의 기록만 선택

In [192]:
NC15[NC15.홈런 >= 5]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25

#### 연습

NC15에서, 안타를 10개 이상 친 선수들의 기록 중 타석, 안타, 홈런 열만 선택

1. 결과 중 상위 3명의 기록만 선택

In [195]:
NC15[NC15.안타 >= 10][['타석', '안타', '홈런']][:3]

      타석   안타  홈런
선수명
테임즈  595  180  47
나성범  622  184  28
박민우  617  158   3

In [200]:
NC15.ix[ NC15.안타 >= 120 , ['타석', '안타', '홈런']]

      타석   안타  홈런
선수명
테임즈  595  180  47
나성범  622  184  28
박민우  617  158   3
이호준  518  132  24
김종호  486  125   4

안타 100개 이상이면서 홈런 20개 이상

* 파이선의 and 와 or 를 사용할 수 없음

In [202]:
NC15.ix[ (NC15.안타 >= 100) & (NC15.홈런 >= 20) ]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19

In [206]:
NC14 = NC14.set_index('선수명')

In [208]:
NC14[['안타', '홈런']] + NC15[['안타', '홈런']]

         안타    홈런
선수명
강구성     NaN   NaN
강민국     0.0   0.0
권희동     NaN   NaN
김성욱     NaN   NaN
김종호     NaN   NaN
김준완    12.0   0.0
김태군     NaN   NaN
김태우     NaN   NaN
김태진     NaN   NaN
나성범   341.0  58.0
노진혁     NaN   NaN
마낙길     NaN   NaN
모창민   172.0  22.0
박명환*    NaN   NaN
박민우   282.0   4.0
박정준     NaN   NaN
손시헌   198.0  18.0
용덕한     NaN   NaN
이종욱   244.0  11.0
이창섭     NaN   NaN
이호준   247.0  47.0
조영훈    64.0  14.0
조평호     8.0   1.0
지석훈   169.0  17.0
최재원    21.0   2.0
테임즈   332.0  84.0
허준      NaN   NaN

산술연산 시 채울 값 지정

In [210]:
NC14[['안타', '홈런']].add(NC15[['안타', '홈런']], fill_value=0) [:5]

        안타   홈런
선수명
강구성    1.0  0.0
강민국    0.0  0.0
권희동   63.0  7.0
김성욱    4.0  1.0
김종호  125.0  4.0

In [211]:
(NC15.안타 + NC15.홈런) / NC15.타석

선수명
테임즈    0.381513
나성범    0.340836
박민우    0.260940
이호준    0.301158
김종호    0.265432
조영훈    0.294521
손시헌    0.238189
이종욱    0.244048
모창민    0.284519
지석훈    0.261803
용덕한    0.244898
최재원    0.225490
박정준    0.333333
김태군    0.238397
조평호    0.409091
이창섭    0.000000
김준완    0.185185
강구성    0.200000
강민국    0.000000
김태진    0.000000
dtype: float64

"홈런 성향"

각 선수의 안타 홈런 합계에서, 안타와 홈런이 각각 차지하는 비율

In [217]:
안타홈런합계 = NC15.안타 + NC15.홈런
안타홈런합계

선수명
테임즈    227
나성범    212
박민우    161
이호준    156
김종호    129
조영훈     43
손시헌    121
이종욱    123
모창민     68
지석훈    122
용덕한     12
최재원     23
박정준      8
김태군    113
조평호      9
이창섭      0
김준완     10
강구성      1
강민국      0
김태진      0
dtype: int64

In [220]:
NC15[['안타', '홈런']].div(안타홈런합계, axis=0)

           안타        홈런
선수명
테임즈  0.792952  0.207048
나성범  0.867925  0.132075
박민우  0.981366  0.018634
이호준  0.846154  0.153846
김종호  0.968992  0.031008
조영훈  0.813953  0.186047
손시헌  0.892562  0.107438
이종욱  0.959350  0.040650
모창민  0.911765  0.088235
지석훈  0.909836  0.090164
용덕한  1.000000  0.000000
최재원  0.913043  0.086957
박정준  1.000000  0.000000
김태군  0.946903  0.053097
조평호  0.888889  0.111111
이창섭       NaN       NaN
김준완  1.000000  0.000000
강구성  1.000000  0.000000
강민국       NaN       NaN
김태진       NaN       NaN

In [223]:
def maxmindiff(series):
    return series.max() - series.min()

In [231]:
NC15[['타석','안타','홈런']].apply(maxmindiff)

타석    620
안타    184
홈런     47
dtype: int64

### 연습

각 선수 타율 구하기 함수를 정의해 적용

In [232]:
def 타율함수(series):
    return (series.안타 + series.홈런) / series.타석

In [240]:
타율 = NC15.apply(타율함수, axis = 1)

In [242]:
'{:.3f}'.format(0.38153)

'0.382'

In [244]:
def 소수점자리수설정(값): 
    return '{:.3f}'.format(값)

In [246]:
타율.map(소수점자리수설정)

선수명
테임즈    0.382
나성범    0.341
박민우    0.261
이호준    0.301
김종호    0.265
조영훈    0.295
손시헌    0.238
이종욱    0.244
모창민    0.285
지석훈    0.262
용덕한    0.245
최재원    0.225
박정준    0.333
김태군    0.238
조평호    0.409
이창섭    0.000
김준완    0.185
강구성    0.200
강민국    0.000
김태진    0.000
dtype: object

In [248]:
NC15[['타석','안타','홈런']].applymap(소수점자리수설정)

          타석       안타      홈런
선수명
테임즈  595.000  180.000  47.000
나성범  622.000  184.000  28.000
박민우  617.000  158.000   3.000
이호준  518.000  132.000  24.000
김종호  486.000  125.000   4.000
조영훈  146.000   35.000   8.000
손시헌  508.000  108.000  13.000
이종욱  504.000  118.000   5.000
모창민  239.000   62.000   6.000
지석훈  466.000  111.000  11.000
용덕한   49.000   12.000   0.000
최재원  102.000   21.000   2.000
박정준   24.000    8.000   0.000
김태군  474.000  107.000   6.000
조평호   22.000    8.000   1.000
이창섭    8.000    0.000   0.000
김준완   54.000   10.000   0.000
강구성    5.000    1.000   0.000
강민국    2.000    0.000   0.000
김태진    3.000    0.000   0.000

## 정렬과 순위

In [250]:
NC15.sort_index()

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73

In [251]:
NC15.sort_index(ascending=False)

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04

In [261]:
NC15.홈런.sort_values(ascending=False)

선수명
테임즈    47
나성범    28
이호준    24
손시헌    13
지석훈    11
조영훈     8
김태군     6
모창민     6
이종욱     5
김종호     4
박민우     3
최재원     2
조평호     1
박정준     0
용덕한     0
강민국     0
이창섭     0
김준완     0
강구성     0
김태진     0
Name: 홈런, dtype: int64

In [260]:
NC15.sort_values(by='홈런', ascending=False)

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09

In [265]:
NC15.sort_values(by=['홈런', '안타'], ascending=False)

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09